@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Comforter&display=swap');


:root {
  --anim: rotate(90deg)
}

#app {
  margin: 0 10px;
  width: 100%
}

h1 {
  font-size: 36px;
}

p {
  font-family: 'Bowlby One', cursive;
}

h2 {
  font-size: 28px;
  color: rgb(103, 177, 47);
  font-family: 'Bowlby One', cursive;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 50%;
}

button {
  font-family: 'Bowlby One', cursive;
  padding: 24px 64px;
}


@media only screen and (max-width: 950px) {
  #app {
    width: 800px;
  }
  h1 {
    font-size: 28px
  }

  a {
    width: 100px;
  }

  button {
    width: 300px;
    padding: 32px 32px;
  }
}

@media only screen and (max-width: 700px) {
  #app {
    width: 600px;
  }

  h1 {
    font-size: 24px
  }

  a {
    width: 75px;
  }

  button {
    width: 50%;
    padding: 24px 24px;
  }
}

@media only screen and (max-width: 500px) {
  #app {
    width: 400px;
  }

  h1 {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 10px;
    left: 15%;
  }

  a {
    width: 50px;
    font-size: 10px;
  }

  button {
    width: 70%;
    padding: 12px 12px;
  }
}

* {
  font-family: 'Bowlby One', cursive;
}
#wrapper {
  /* padding: 20px 50px; */
  position: relative;
  display: grid;
  margin: 0px 50px;
  grid-template-columns: 1fr 1fr;
  min-height: 70vh;
}
button {
  transform: skewY(-5deg);
  transform: skewX(10deg);
}
#dropdown {
  width: 200px;
}

#wrapper-game-done {
  position: relative;
  min-height: 60vh;
}

#output {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  animation: mymove 2s ease-in;
}


@keyframes mymove {
  0% {
    font-size: 2px;
    transform: rotate(360deg);
  }

  50% {
    font-size: 18px;
  }

  75% {
    font-size: 24px;
  }

  100% {
    font-size: 28px
  }
}




body {
  margin: 0;
  background-color: purple;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
